.nav-content {
  width: 100%;
  position: fixed;
  z-index: 3;

}
/*Nav Bar*/
#id {
  background-color: #000000a1;
  border-bottom: 3.5px solid #fd6767;
  outline-width: 4px;
  outline-color: #000000;
  outline-style: solid;
  font-size: 15.5px;
  word-spacing: 2.9px;
  line-height: 31.5px;
  text-shadow: 0.5px 1px rgb(255, 255, 255);
  font-family: "Bad+Script", cursive;
}

nav a {
  color: #fd6767;
}

nav a:hover {
  color: #000000;
}

.btn.btn-lg.ml-5{
    font-size: 20px;
    color:black;
    width: 150px;
    background-color:#fd6767;
    word-spacing: 2.5px;
    text-shadow: 0.5px 1px rgb(255, 255, 255);
    font-family: "Bad+Script", cursive;
}

.btn.btn-lg.ml-5:hover {
    background-color: #000000;
    color: #fd6767;
}
/*Logo Navbar*/
#logoImg{
    border: 0.95px inset #fd6767;
    padding: 1px;
    outline-width: 4px;
    outline-color: #000000;
    outline-style:inset;
    
}

.main-page-footer {
  font-size: 12px;
  color: #ccc;
  background: #fd6767;
  border-top: 5.5px solid #000000;
  z-index: 3;
}

.main-page-footer h4 {
  font-weight: 500;
  color: #000;
}

.items {
  display: inline;
  background-size: 400px;
}
