#bck {
    /* background-color:  #fd6767; */
    background-color:  #000000;
    border-right: 5px solid #fd6767;
    outline-width: 4px;
    outline-color: #000000;
    outline-style:solid;
    height: calc(100vh - 25px);
   
}