<<<<<<< HEAD
#bck {
    /* background-color:  #fd6767; */
    background-color:  #000000;
    border-right: 5px solid #fd6767;
    outline-width: 4px;
    outline-color: #000000;
    outline-style:solid;
    height: calc(100vh - 25px);
   
=======
background {
    color: black
>>>>>>> 69a3e6b061ba3f3a1c1c6ff9c574719b8f9db879
}