.main-container {
    background-color: pink;
    padding-top:50px;
    z-index: 0;
}
.profile {
     /* Set the width of the sidebar */
     /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    /* top: 0; Stay at the top */
    background-color: wheat; /* Black */
     /* Disable horizontal scroll */

  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 980px) {
    .profile {position: relative;}
  }